*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  max-width: 750px;
  margin: 0 auto;
}

main,
.main-header {
  padding: 1rem;
}

h1,
h2,
h3,
p,
menu,
ul {
  margin-block: 0;
}

menu {
  list-style-type: none;

  padding-left: 0;
}

.main-header {
  background-color: darkcyan;
  color: white;

  padding: 1rem;

  justify-content: space-between;
}

.main-header h1 {
  font-size: 125%;
}

.main-nav__list {
  gap: 1rem;
}

.main-nav__list a {
  color: white;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25rem;

  transition: color 100ms, text-underline-offset 100ms;
}

.main-nav__list a:hover {
  color: rgb(255 255 255 / 0.75);
  text-underline-offset: 0.125rem;
}

#books-list {
  list-style-type: none;

  padding-left: 0;
  margin-block: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#books-list > li {
  background-color: lightseagreen;

  padding: 1rem;
}

#books-list > li > header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#books-list > li > * {
  margin-block: 0.5rem;
}

.single-book {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.single-book > img {
  width: 100%;
}

.single-book > .book-information {
  line-height: 1.8;

  grid-column: span 3;
}

.book-information > h3 {
  margin-block: 2rem 0.5rem;
}

.flex-alc {
  display: flex;
  align-items: center;
}

button {
  margin-left: 2rem;
}
